header {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  background-color: white;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);

  .btn.btn-link,
  a {
    color: #50596c;
  }

  &.animated.headroom--top {
    transition: background-color 0.3s ease !important;
    background-color: white !important;

    &.slideDown,
    &.slideUp {
      animation-name: none !important;
    }
  }

  &.animated.slideDown,
  &.animated.slideUp {
    background-color: white;
  }
}

.dropdown .icon {
  font-size: 0.5rem;
  vertical-align: 0 !important;
}

.dropdown ul {
  font-family: $header-font-family;
  text-transform: uppercase;
}

// Dropdown
.dropdown {
  display: inline-block;
  position: relative;

  .menu {
    animation: slide-down 0.15s ease 1;
    display: none;
    left: 0;
    max-height: 50vh;
    overflow-y: auto;
    position: absolute;
    top: 100%;
  }

  &.dropdown-right {
    .menu {
      left: auto;
      right: 0;
    }
  }

  &.active .menu,
  .dropdown-toggle:hover+.menu,
  .menu:hover {
    display: block;
  }

  &.menu:hover {
    display: inherit;
  }

  &.dropdown-toggle:hover+.menu,
  .menu:active {
    display: block;
  }
}

.lang {
  font-family: $header-font-family;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding-left: 1rem;
  width: 6rem;
}
