.team {
  padding: 4rem 0;

  .column {
    padding-left: $layout-spacing-lg;
    padding-right: $layout-spacing-lg;
  }

  .s-circle {
    max-width: 12rem;
  }

  .subtitle {
    padding-top: $layout-spacing-lg;
    color: $accent-color;
    font-weight: 600;
    letter-spacing: 2px;
  }

  h2 {
    color: $black;
  }
}

.staff-row {
  margin-top: 4rem;
  margin-bottom: 4rem;

  .circle {
    margin-top: 1rem;
    max-width: 12rem;
  }
}

.staff-column {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 480px) {
  .team {
    padding: 2rem 0;

    .section-title {
      padding: 0 2rem;
    }
  
    .column {
      padding: 0 2rem;
      margin-bottom: 1rem;
    }
  
    .s-circle {
      max-width: 8rem;
    }
  }
}