.team {
    padding: 4rem 0;
	.column {
		padding-left: $layout-spacing-lg;
		padding-right: $layout-spacing-lg;
	}
	.circle {
		max-width: 8rem;
    }
    
    .subtitle {
        padding-top: $layout-spacing-lg;
        color: $accent-color;
        font-weight: 600;
        letter-spacing: 2px;
    }

    h2 {
        color: $black;
    }
    
}

.staff-row {
    margin-top: 4rem;
    margin-bottom: 4rem;
    .circle {
        margin-top: 1rem;
        max-width: 12rem;
    }
}

.staff-column {
    margin-top: 4rem;
    margin-bottom: 1rem;
}